[flake8]
ignore = E501,W291,D205,D212,D200,D411,D105,E722
# exlcude prototypes, docs, test and misc code from linting
exclude = .git,__pycache__,docs,*/tests/**,idmtools_test,venv,examples
# enforce docstrings
docstring-convention = google