.btn-primary {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
}

.custom-dropdown {
    color: #000;                /* Text color */
    background-color: lightgray;     /* Background color */
    border: 1px solid #ccc;     /* Border with color and width */
    border-radius: 5px;         /* Rounded corners */
    padding: 10px;              /* Padding inside the dropdown */
    width: 10%;                 /* Width of the dropdown */
    min-height: 20px;           /* Minimum height of the dropdown */
}

.content-block {
    #margin: 10px;
    padding: 10px;
    background-color: lightgray; /* Adding a background color to visually distinguish the block */
}

.spacer {
    height: 20px; /* Create a 20px tall space element */
}
.overall {
    display: flow;
    #flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

* Styling for the DataTable *
.custom-table .dash-spreadsheet {
    border: 2px solid #007BFF;
}

.custom-table .dash-spreadsheet-inner td {
    border: 1px solid #007BFF;
}

.custom-table .dash-cell.focused {
    background-color: #E9ECEF !important;
    border: 1px solid #ADB5BD;
}

.custom-table .dash-header {
    background-color: #007BFF;
    color: black;
    text-align: center;
    fontWeight: bold;
}

.custom-table .dash-cell div.dash-cell-value {
    text-align: center;
    padding: 10px;
}
