name: Build and Publish SSMT Docker Image (Staging)

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-publish-ssmt-staging:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build setuptools-scm keyring
      - name: Build
        working-directory: idmtools_platform_comps
        run:
          pip install -e .
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and publish SSMT image to staging
        working-directory: idmtools_platform_comps/ssmt_image
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          make docker-build-publish-staging
